* {
  box-sizing: border-box;
}

img {
  width: 100%
}

body {
  background-color: #fff;
  font-family: Helvetica, arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.octodex {

}

.octocat {
  width:30;
  display: inline-block}

}

.octocat > a {
  border: solid 1px #cacaca;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  height: 100%;
}

.octocat > a:: after {
  content: "";
  height: 0;
  border-right: solid 10px transparent;
  border-left: solid 10px transparent;
  position:absolute;
  right: 1%
  top: 100%
}

.author: > li> a {
  display: inline-block;
  width: 30px;
}

image-number {
  position: absolute;
  top:  50%
  transform: translateY(-50%);
  left: 0;
  ::before
.content: "#";
  }

  image-footer {
    border-bottom: solid 1px #CACACA;
    padding-top: 15px
    position: relative;
    padding-bottom: 15px;
  }

  image-caption {
    display: inline-block;
  }

  
